

body{
background-color: grey;

}

header {


width: 90%;
text-align: center;
background-color: white;
padding: 20px;
margin-left: 50px;
margin-right: 50px;
}

#nav {

    width: 90%;
    text-align: center;
    background-color: white;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top:10px;
}

.group {
    background-color: white;
    width: 100%;
    margin-left: 50px;
    text-align: center;
    
}

.section {
width: 50%;
float: left;
background-color: white;
padding: 20px;
padding-bottom: 50px;

margin-top:10px;
margin-right: 50px;
}

.article {

background-color: grey;
float: left;
clear: left;
padding: 10px;
margin-top: 10px;
width: 95%;
}

.H1 {
    float: left;
clear: left;
background-color: white;
padding: 10px;
margin-top: 10px;
width: 95%;
}

aside {

    width: 30%;
    float: right;
    background-color: white;
    text-align: center;
    padding: 20px;
    clear: right;
    margin-top:10px;
    margin-right: 25px;
    height: 190px;
    }

.P{

    float: left;
clear: left;
background-color: white;
padding: 10px;
margin-top: 10px;
width: 95%;
}

.footer{

    clear:left;
    float:left;
    background-color: white;
    margin-top:10px;
       width: 90%;
    text-align: center;
    background-color: white;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
}